@import "tailwindcss";

@theme {
  --color-pink: #e56e8b;
  --color-pink-50: #fdf3f5;
  --color-pink-100: #fbe8eb;
  --color-pink-200: #f8d3dc;
  --color-pink-300: #f1b0be;
  --color-pink-400: #e56e8b;
  --color-pink-500: #dc577b;
  --color-pink-600: #c73765;
  --color-pink-700: #a72954;
  --color-pink-800: #8c254b;
  --color-pink-900: #792246;
  --color-pink-950: #430e22;

  --color-dark: #1e1e1e;
  --color-light: #ffffff;
}

strong {
  font-weight: bold;
  color: #e56e8b;
}
